<div  class="slide">
  <div class="slider-img">
   <a href="preview.html"><%= image_tag(slide.image, style: "height: 265px;")%></a>
  </div>
  <div class="slider-text">
    <h1><%= slide.head %></h1>
    <!-- <h2>UPTo 20% OFF</h2> -->
    <div class="features_list">
      <h4 style="  display: block;width: 400px;"><%= slide.description %></h4>
    </div>
    </div>
  <div class="clear"></div>
</div>