<div id="content-header">
  <div id="title">
    Sửa Slide
  </div>
  <div id="content-menu">
    <ul class="content-menu">
      <li class="content-menu"><%= button_to t('admin.main.back'),admin_slides_path,method:'get',class: 'btn btn-primary' %></li>
    </ul>
  </div>
</div>
<%= render 'form'%>
