<div id="content-header">
	<div id="title">
		<%= t ('admin.member.header.title_add')%>
	</div>
	<div id="content-menu">
		<ul class="content-menu">
			<li class="content-menu"><%= button_to t('admin.main.back'),admin_members_path,method:'get',class: 'btn btn-primary' %></li>
		</ul>
	</div>
</div>
<%= render 'form'%>
