<div id="content-header">
	<div id="title">
		Edit category information
	</div>
	<div id="content-menu">
		<ul class="content-menu">
			<li class="content-menu"><%= button_to"Back",cate_index_path,method:'get',class:'btn' %></li>
		</ul>
	</div>
</div>
<%= render 'form'%>
