<div id="content-header">
	<div id="title">
		Edit Profile
	</div>
	<div id="content-menu">
		<ul class="content-menu">
			<li class="content-menu"><button class='btn btn-primary'><%= link_to"Back",admin_products_path %></button></li>
		</ul>
	</div>
</div>
<%= render 'form'%>
