<div id="content-header">
	<div id="title">
		Add Product
	</div>
	<div id="content-menu">
		<ul class="content-menu">
			<li class="content-menu"><%= button_to t('admin.main.back'),admin_products_path,method:'get',class: 'btn btn-primary' %></li>
		</ul>
	</div>
</div>
<%= render 'form'%>
<select name='product[sub_catagory_id]' id="sub_category" style="display:none"></select>
