<div class="grid_1_of_4 images_1_of_4">
  <% if Product.limit(5).order(id: :desc).pluck(:id).include?product.id %>
    <%= image_tag"/assets/n.gif", style:"position: absolute;width: 40px;height: 30px;" %>
  <% end -%>
  <%= link_to image_tag("#{product.image}",size:"100x200",title: "#{product.name}",class: "product_image"),products_view_path(product) %>
  <h2><%= product.name%></h2>
  <div class="price-details">
      <div class="price-number">
      <p><span class="rupees">Giá : Liên Hệ</span></p>
      </div>
            <div class="add-cart">
              <h4><%= link_to"Chi tiết",products_view_path(product), method: :get %></h4>
           </div>
      <div class="clear"></div>
  </div>
</div>
