<script type="text/javascript">
	$(document).ready(function(){
		$(".header_bottom .menu ul li.product").css("background","#2CAF0B");
	});
</script>
	<div class="content">
		<div>
			<div class="heading">
				<% if @search %>
					<h3>Kết qua tìm kiếm cho : " <%= @search %> "</h3>
				<% else %>
					<h3> Tất cả các sản phẩm</h3>
				<% end -%>
			</div>
			<div class="clear"></div>
		</div>
		<% if @product.count > 0%>
			<div class="section group">
				<%= render @product %>
			</div>
		<% else %>
			<div class="section group">
				<div class="grid_1_of_4 images_1_of_4">
					Không có sản phẩm nào
				</div>
			</div>
		<% end -%>
	</div>
	</div>
