  <div class="content">
    <div>
      <div class="heading">
        <h3> Các sản phẩm liên quan tới "<%= @tag %>"</h3>
      </div>
      <div class="clear"></div>
    </div>
      <div class="section group">
        <%= render @products %>
      </div>
  </div>
  </div>
