
body{
	margin:0px 4px;
	padding:0px;
	font-size: 15px;
	font-family: Arial, Helvetica, sans-serif;
}

@font-face {
    font-family: 'ambleregular';
    src:url(../font/Amble-Regular-webfont.ttf) format('truetype');
}
#wraper{
}
/*===============HEADER===================*/
#header{
	height: 40px;
	background: rgba(0, 0, 0, 0.5);
	color: #fff;
	line-height: 40px;
	font-size: 20px;
	font-weight: bold;
	padding: 0px 0px 0px 10px;
	border-bottom: 5px solid blue;
}
/*END HEADER*/
ul,h1{
	margin:0px;
	padding:0px;
}
/*==========MENU==============*/


#menu{
	overflow:hidden;
	background:#ccc;
	border-bottom: 1px solid #A39898;
	.main-menu{
		ul li{
				&:hover{
					background: blue;
				}
				&:hover a {color: white}
				a:hover{background: none !important;}
		}
	}
}
#menu .main-menu ul li.main-menu:hover {
	a{color: white}
	a:hover{color: white;}
}
#menu .main-menu ul li.main-menu.active a{color: white}
#menu .main-menu{
	overflow:hidden;
	float:left;
	ul li{
		a{display: block;width: auto}
	}
}
#menu ul.main-menu{
	list-style:none;
	overflow:hidden;
	width:100%;
	background:#ccc;
	float:left;
}
#menu ul.main-menu li.main-menu{
	float: left;
	line-height: 35px;
	font-size: 14px;
	font-weight: bold;
	padding: 0px 15px;
	border-right: 1px solid #B3B1B1;
	letter-spacing: 2px;
}
#menu ul.main-menu li.main-menu a{
	text-decoration:none;
	color:#000;
}
#menu ul.main-menu li.main-menu a:hover{
	color:blue;
}
#menu ul.main-menu li.main-menu a.active{
	color:blue;
}
#menu #info{
	float:right;
}
#info ul.info {
	list-style:none;
}
#info ul.info li.info{
	float: left;
	line-height: 35px;
	padding: 0px 9px;
	border-right: 1px solid #AEACAC;
	a:hover{background: none !important;}
}
/*================ END MENU====================*/

/*=================CONTENT======================*/

#content{
	min-height:500px;
	clear:both;
	form {
		.btn{min-width: 100px}
	}
}
#content-header{
	background: #FAFAFA;
	margin: 0px 0px 0px 0px;
	overflow: hidden;
	border-bottom: 1px solid lightgrey;
	height: 30px;
	line-height: 30px;
	padding-left: 13px;
	border:1px solid #ccc;

 	#title{
		float:left;
		font-size: 18px;
		font-weight: bold;
	}
	.form-control{
		display: block;
	  /* width: 100%; */
	  height: 23px;
	  padding: 6px 12px;
	  font-size: 14px;
	  line-height: 1.42857143;
	  color: #555555;
	  background-color: #fff;
	  background-image: none;
	  border: 1px solid #ccc;
	  border-radius: 4px;
	}
	#content-menu{
		float: right;

	  ul.content-menu{
			list-style:none;

			li.content-menu{
				float:left;
				padding: 0px 10px;
				border-right: 1px solid #ccc;
				line-height: 28px;
				form .btn{
					min-width: 100px;
				}
			  a{
					text-decoration:none;
				}
				a.active{color: blue;background:none;}
				&:last-child{
					padding-right:13px;
					border-right:none;
				}
  		}
 	  }
	}
}
#content #main-content{
	background: #F2F2F2;
	margin-top: 5px;
	border-top: 1px solid lightgrey;
	border-bottom: 1px solid lightgrey;
	min-height: 500px;
}
#main-content #box{
	height: 100%;
	background: #fff;
	margin: 5px 5px;
	border: 1px solid #ccc;
}
#main-content #action{
	margin-top: 5px;
	border-bottom: 1px solid #DDD;
	overflow: hidden;
	padding-bottom: 5px;
	padding-left: 13px;
	height: 30px;
	font-size: 17px;
	#search {
		float: left;
		width: auto;
		height: 15px;
		.btn{
			min-width: 100px;
		}
	}
	.title {
		float: left;
	}
	.action{
		float:right;
		margin-right:10px;

		form{
	  	float:left;
	  	.btn{
	  		min-width: 100px;
	  	}
		}
	}
	.btn:hover{
		cursor:pointer;
	}
	.btn.search{
		margin-left: 7px;
		height: 28px;
		padding-top: 3px;
	}
}
.action ul li .btn{min-width: 100px;}
.btn{
	padding: 0px !important;
	height: 23px;
	width: 100px;
	margin-left: 5px;
}
.btn:hover{
	cursor:pointer;
}
#main-content #action ul{
	list-style:none;
}
#main-content #action  ul li{
	float:left;
	margin:0px 10px;
}
#main{
	padding:13px;

	table {
		tr{
			height:35px;
			.head{
				height:30px;
				line-height : 33px;
			}

			.search{
				text-align:center;
				height:10px;
			}
			td{
				vertical-align: top;
				.left{
					width:175px !important;
					font-family: tahoma;
					font-size: 17px;
					vertical-align: top;
				}

				.col1{
					width:20px;
				  input[type=text]{
						width:20px;
					}
				}
				.col-title{
					width:260px;
					input[type=text]{
						width:260px;
					}
				}
				.col2,.col-date{
					width:90px;
				}
				.col2 input[type=text]{
					width:90px;
				}
				.col-des input[type=text]{
					width:390px;
				}
				.col-date input[type=text]{
					width:90px;
				}
				.action{
					width:145px;
				}
				input.form-control {
					width: auto;
					min-width: 300px !important;
  				height: 25px !important;
				}
				input.text_field,select.text_field{
					border: 1px solid #ccc;
					height: 26px;
					border-radius: 5px;
					width: 300px;
					padding-left:10px;
				}
				label {
					width: 150px;
				}
				textarea.title{
					height: 25px;
					margin-bottom: 5px;
					width: 988px;
				}
			}
		}
		th {
			vertical-align: middle;
		}
	}
}
#main table tr{
	td.left{width: 113px}
	td.tbl-config{  background: rgb(132, 132, 132); color: white;}
}
#main table.table{
	width: 100%;
	border-collapse: collapse;
}
#main table.table tr th{
	border-right: 1px solid #E0E0E0;
	background: #ccc;
	font-size: 13px;
}
#main table.table tr td{
	border:1px solid #ccc;
	vertical-align:middle;
}
#main table tr td select{
	width: 311px;
	height: 30px;
}
#main table tr td textarea.short_content{
	height: 45px;
	width: 996px;
}
#main .content-news{
	width:600px;
}
#main .author{
	margin-top:40px;
	clear:both;

}
#main .title-news{
	font-size:24px;
	color:blue;
	float:left;
}
#main .author p{
	margin:0px;
}
#main #error{
	margin-bottom:20px;
}
#main #error h2{
	margin:0px;
	color:red;
}
#main #error ul li{
	list-style:square;
	margin-left:20px;
}
h1.header{
	border-bottom: 1px solid #ccc;
  height: 30px;
	line-height: 30px;
	font-size: 15px;
	margin-bottom: 10px;
}
.notice{
	color: rgb(119, 178, 102);
	border: 1px solid rgb(236, 139, 139);
	height: 25px;
	line-height: 25px;
	margin-bottom: 10px;
	padding-left: 10px;
	}
.categories ul li ul.subcate{
	display: none;
    position: absolute;
    left: 370px;
    z-index: 9999999;
    background: rgb(247, 247, 247);
}
/*==============Pagination==============*/
.pagination{
	float:right;
	margin-top:5px;
}
.pagination a , span , em{
	display:block;
	float:left;
}
.pagination a{
	width :20px;
	margin:0px 3px;
}
.pagination .next_page{
	width:55px;
}
.pagination .previous_page{
	width:87px;
}
.pagination em{
	width: 20px;
	font-weight: bold;
}
.pagination span{
	width:28px;
}
/*===============Login=================*/

/*==========Footer============*/
#footer{
	height: 40px;
	line-height: 40px;
}
.active{
  background: blue;
}
