<script type="text/javascript">
	$(document).ready(function(){
		$(".header_bottom .menu ul li.about").css("background","#B81D22")
	});
</script>
<div class="main">
    <div class="content">
		<div class="title-head">
			Giới thiệu về <font style="color:red">LEDTIME.COM.VN</font>
		</div>
    	<div class="section group">
			<p><strong><font color="red", font-size="20px",font-weight="bold">* Về chúng tôi</font></strong></p>
			<div class="group-text">
				<p>LEDTIME là một trong những đơn vị tiên phong hoạt động trong lĩnh vực chiếu sáng tiết kiệm điện dùng công nghệ LED còn đang rất mới mẻ tại Việt Nam.</p>
				<p>LEDTIME cung cấp các sản phẩm và dịch vụ như sau:</p>
				<p>- Đèn LED chiếu sáng tiết kiệm điện phục vụ cho sản xuất tại các nhà máy, các công trình công nghiệp như: kho hàng, xưởng sản xuất, cầu cảng, đường sá…</p>
				<p>- Đèn LED chiếu sáng tiết kiệm điện phục vụ cho nhà ở dân dụng, văn phòng, nhà hàng, khách sạn, trung tâm thương mại, siêu thị, cửa hàng …</p>
				<p>- Đèn LED phục vụ trang trí , quảng cáo…</p>
				<p>LEDTIME tự hào vì đang là nhà cung cấp đèn LED chiếu sáng tiết kiệm điện cho nhiều đơn vị sản xuất, nhà máy, xưởng may có quy mô lớn tại  Hà Nội , TP.HCM, và nhiều tỉnh khác trên khắp cả nước.</p>
			</div>
			<p></p>
			<p><strong><font color="red", font-size="20px",font-weight="bold">* Mục tiêu của chúng tôi</font></strong></p>
			<div class="group-text">
				<p>Hiện nay, hướng đến mục tiêu là một trong các nhà cung cấp giải pháp và thiết bị tiết kiệm điện cho chiếu sáng công nghiệp và dân dụng hàng đầu tại Việt Nam, LEDTIME không ngừng sàng lọc và lựa chọn những sản phẩm tốt có hiệu quả kinh tế cao nhất phục vụ nhu cầu chiếu sáng trong sản xuất và kinh doanh nhằm giúp Quý khách hàng giảm chi phí sản xuất và tăng lợi nhuận.</p>
				<p>Hiểu được tầm quan trọng của sự phát triển bền vững, chúng tôi đặc biệt chú trọng đến dịch vụ sau bán hàng để là đối tác chiến lược tốt nhất cho chủ đầu tư, các nhà thầu, đối tác cung cấp với quan điểm cùng nhau phát triển và chia sẻ lợi nhuận.</p>
			</div>
			<p><strong><font color="red", font-size="20px",font-weight="bold">* Cam kết chất luợng<i></i></font></strong></p>
			<div class="group-text">
				<p><i>“ Khi chọn sản phẩm do LEDTIME cung cấp ngoài vấn đề giá cả hợp lý Quý khách hàng sẽ hoàn toàn yên tâm về chất lượng, chúng tôi cam kết về điều này.”  </i></p>
				<p>Cam kết này được thể hiện ở quá trình tư vấn tận tình của LEDTIME trước khi mua  hàng để Quý khách hàng có thể chọn lựa được  sản phẩm phù hợp nhất mà mình đang có nhu cầu.</p>
				<p>- Cam kết này được thể hiện ở chế độ bảo hành sản phẩm chu đáo sau bán hàng . Chúng tôi tự hào rằng chưa có Quý khách hàng nào đã từng sử dụng sản phẩm của chúng tôi phàn nàn về thái độ phục vụ của LEDTIME khi sản phẩm có vấn đề sự cố xảy ra cần được xử lý trong thời hạn hiệu lực bảo hành của sản phẩm.</p>
				<p>- Cam kết này được thể hiện rằng khi sản phẩm được mua tại LEDTIME đã hết thời hạn bảo hành nhưng Quý khách hàng gặp sự cố cần sửa chữa hoặc thay thế linh kiện chúng tôi sẽ tư vấn tận tình và hỗ trợ với chính sách ưu đãi nhất.</p>
				<p>LEDTIME xin cảm ơn và trân trọng các cơ hội để trở thành đối tác lâu dài với Quý khách hàng.</p>
			</div>
		</div>			
    </div>
 </div>
 </div>

