<div class="main">
    <div class="content">
		<div class="title-head">
			Giới thiệu về <font style="color:red">LEDTIME.COM.VN</font>
		</div>
    	<div class="section group">
    		<%= raw @intro.intro if @intro%>
		</div>
    </div>
 </div>
 </div>

