
<script type="text/javascript">
$(document).ready(function(){
  initialize();
});
</script>
<div class="main">
    <div class="content">
      <div class="section group">
        <div class="col span_2_of_3" style="margin-left:0px">
            <div class="contact_info">
              <h2>Find Us Here</h2>
                <div id="div_id" style="height:325px; width:750px"></div>
            </div>
        </div>
      </div>
  </div>
</div>
</div>
