<script type="text/javascript">
	$(document).ready(function(){
		$(".header_bottom .menu ul li.service").css("background","#2CAF0B");
	});
</script>
<div class="main">
    <div class="content">
		<div class="title-head">
			Khác hàng của <font style="color:red">Nuocsachhadung.vn</font>
		</div>
    	<div class="section group">
    		<%= raw @intro.service if @intro %>
		</div>
    </div>
 </div>
</div>
