<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Admin</title>
	<%= stylesheet_link_tag "admin_style"%>
</head>
<body>
	<div id="wraper">
		<div id="header">
			Administration
		</div>
		<div id="menu">
			Menu
		</div>
		<div id="content">
			<%= yield %>
		</div>
		<div id="footer">
			Copyright &copy by HoangKien
		</div>
	</div>
</body>
</html>